#App {
    height: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border-left: 1px solid rgb(47, 47, 47);
    border-right: 1px solid rgb(47, 47, 47);
}

#BioWrapper {
    display: flex;
    justify-content: start;
    padding-top: 9px;
    padding-right: 15px;
    padding-bottom: 19px;
    padding-left: 25px;

    .profile-photo {
        border-radius: 50%;
        width: 75px;
        height: 75px;
        margin-right: 25px;
    }

    .bio-info-wrapper {
        width: 100%;
        #VerifiedCheck {
            width: 15px;
            display: inline;
            padding-left: 4px;
        }
        .user-name {
            font-size: 25px;
            font-weight: 500;
            display: inline;
        }
    }
}

#Buttons {
    .button {
        height: 30px;
        line-height: 29px;
        width: 108px;
        background-color: #262626;
        border-radius:4px;
        font-size: 15px;
        text-align: center;
        display: inline-block;
        margin-top: 12px;
        margin-right: 8px;
        transition: 0.1s;
        &:hover {
            cursor: pointer;
            background-color: #262626e0;
            transition: background-color .1s;
        }
        &:active {
            background-color: #262626d0;
	        transition: background-color 0s;
        }
    }
}

#DescriptionContainer {
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 7px;
    #Description {
        font-size: 15px;
	    line-height: 20px;
        a {
            color: rgb(230, 165, 176);
	        text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#StatsContainer {
    display:flex;
	justify-content: start;
	padding-bottom: 10px;
    .stats {
        width: calc(100%/3);
	    text-align: center;
    }
}

#ContentContainer {
    position: relative;
    .row {
        display:flex;
        justify-content: start;
    }
    .content {
        width:calc(100%/3);
        background-color: #000000;
        img {
            max-width: 100%;
            transition: filter .3s;
            display: block;
            &:hover {
                cursor: pointer;
                transition: filter .2s;
                filter: brightness(1.05);
            }
        }
    }
}