#Post {
    min-height: 100vh;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border-left: 1px solid rgb(47, 47, 47);
    border-right: 1px solid rgb(47, 47, 47);
}

#PostContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    header {
        display: flex;
        width: 100%;
        align-items: center;
        padding: .5rem 0;
        .post-profile-photo {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 15px;
        }
        .info {
            cursor: pointer;
            span {
                display: block;
                font-size: .75rem;
            }
            .username {
                font-size: 1rem;
            }
        }
    }
    .content {
        position: relative;
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        background-color: #000000;
        img {
            display: block;
            border-radius: 2px;
            max-width: 100%;
            margin-bottom: .15rem;
        }
    }
    .buttons {
        display: flex;
        justify-content: space-between;
    }
    .description {
        display: block;
        width: 100%;
        span { display: block; }
        .view-comments {
            margin: .5rem 0;
            color: rgba(255, 255, 255, 0.627);
        }
        .date {
            color: rgba(255, 255, 255, 0.627);
        }
    }
}